# flyctl launch added from .gitignore
# Python cache & build
**\__pycache__
**\*.py[cod]
**\*.pyo
**\*.pyd
**\*.so
**\*.egg
**\*.egg-info
**\dist
**\build

# Virtual environments
**\.venv
**\env
**\venv

# IDE/editor configs
**\.vscode
**\.idea
**\*.swp

# OS
**\.DS_Store
**\Thumbs.db

# Logs & temp
**\*.log
**\temp_*

# flyctl launch added from venv\.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
venv\**\*
fly.toml
